<div ng-app="categories">
      <div ng-controller="CategoriesController">
      	  <form>
			<h1>Filtrer les catégories</h1>
	        <div class="input-group">
	          <div class="input-group-btn">
	            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{type_search}} <span class="caret"></span></button>
	            <ul class="dropdown-menu">
	              <li><span ng-click="setType('Contient')">Contient</a></li>
	              <li><span ng-click="setType('Commence')">Commence par</a></li>
	              <li><span ng-click="setType('Termine')">Termine par</a></li>
	              <li><span ng-click="setType('Egale')">Est égale à</a></li>
	            </ul>
	          </div><!-- /btn-group -->
	          <input type="text" class="form-control" aria-label="..." ng-model="name" ng-keyup="loadProducts()" placeholder="Nom du produit">
	        </div><!-- /input-group -->

	        <h3>Avancés</h3>

	        <div class="input-group avanced">
	          <div class="input-group-btn">
	            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{content_double ? label[content_double] : 'Contenu en double'}}<span class="caret"></span></button>
	            <ul class="dropdown-menu">
	              <li><span ng-click="setContentDouble(false)">NON</span></li>
	              <li><span ng-click="setContentDouble('name')">Nom du produit</span></li>
	              <li><span ng-click="setContentDouble('meta_title')">Meta title</span></li>
	              <li><span ng-click="setContentDouble('meta_description')">Meta description</span></li>
	              <li><span ng-click="setContentDouble('description')">Description</span></li>
	              <li><span ng-click="setContentDouble('description_short')">Description courte</span></li>
	              <li><span ng-click="setContentDouble('meta_keywords')">Meta keywords</span></li>
	            </ul>
	          </div><!-- /btn-group -->
	      	</div><!-- /input-group -->


	      	<div class="input-group avanced">
	          <div class="input-group-btn">
	            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{content_short ? label[content_short] : 'Contenu trop court'}}<span class="caret"></span></button>
	            <ul class="dropdown-menu">
	              <li><span ng-click="setContentShort(false)">NON</span></li>
	              <li><span ng-click="setContentShort('name')">Nom du produit</span></li>
	              <li><span ng-click="setContentShort('meta_title')">Meta title</span></li>
	              <li><span ng-click="setContentShort('meta_description')">Meta description</span></li>
	            </ul>
	          </div><!-- /btn-group -->
	      	</div><!-- /input-group -->

			<div class="input-group avanced">
	          <div class="input-group-btn">
	            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actif Uniquement  : {{actif ? 'OUI' : 'NON'}}<span class="caret"></span></button>
	            <ul class="dropdown-menu">
	              <li><span ng-click="setActif(true)">OUI</span></li>
	              <li><span ng-click="setActif(false)">NON</span></li>
	          </div><!-- /btn-group -->
	      	</div><!-- /input-group -->

		    <div class="input-group avanced">
		        <div class="input-group-btn">
		            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{empty ? label[empty] : 'Champs vide'}} <span class="caret"></span></button>
		            <ul class="dropdown-menu">
		              <li><span ng-click="setEmpty(false)">NON</span></li>
		              <li><span ng-click="setEmpty('meta_title')">Meta title</span></li>
		              <li><span ng-click="setEmpty('meta_description')">Meta description</span></li>
		              <li><span ng-click="setEmpty('description')">Description</span></li>
		              <li><span ng-click="setEmpty('description_short')">Description courte</span></li>
		              <li><span ng-click="setEmpty('meta_keywords')">Meta keywords</span></li>
		            </ul>
		        </div><!-- /btn-group -->
		    </div><!-- /input-group -->



		    <table  class="box-table-a pagination">
		      <tfoot>
		        <tr>
		          <td>Page(s) : </td>
		          <td>
		            <div id="liste_page">
		             <input ng-repeat="(k,filter) in tab_index" type="button" class="npage" ng-click="changePage(filter)" value="{{filter}}">
		            </div>
		          </td>
		          <td>
		            <div class="input-group avanced">
		              <div class="input-group-btn">
		                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{page}}<span class="caret"></span></button>
		                <ul class="dropdown-menu">
		                <li ng-repeat="(k,filter) in filters.nbr_page"><span ng-click="changePage(filter)">{{filter}}</span></li>
		                </ul>
		              </div>
		            </div>
		          </td>
		          <td colspan="5">
		            <span id="nbr_result">Nombre des résultats : {{total_result}} - Nombres de pages {{nbr_page}}</span>
		          </td>
		        </tr>
		      </tfoot>
      		</table>
    	  </form>
    	  <table class="table">
            <thead class="thead-inverse">
              <tr>
                <th>Action</th>
				<th>Nom</th>
				<th>Description</th>
				<th>Balise meta title</th>
				<th>Balise meta description</th>
				<th>Url réécrite</th>
				<th>Balise meta keywords</th>
              </tr>
            </thead>
            <tbody ng-show="categories.length" ng-cloak>
              <tr  ng-repeat="(k,category) in categories"  ng-init="p = k">
                <td><span class="input-group-btn"> <button ng-click="updateCategory(p)" type="button" class="btn btn-default">Modifier</button></td>
                <td><input ng-model="categories[p].name" type="text" class="form-control" value="{{category.name}}"></td>
                <td><textarea ng-model="categories[p].description"  class="form-control">{{category.description}}</textarea></td>
                <td><input ng-model="categories[p].meta_title"  type="text" class="form-control" value="{{category.meta_title}}"></td>
                <td><textarea ng-model="categories[p].meta_description"  class="form-control">{{category.meta_description}}</textarea></td>
                <td><input ng-model="categories[p].link_rewrite"   type="text" class="form-control" value="{{category.link_rewrite}}"></td>
                <td><input ng-model="categories[p].meta_keywords"   type="text" class="form-control" value="{{category.meta_keywords}}"></td>
              </tr>
            </tbody>
          </table>
          <div class="encart_check" ng-show="showajax">Categorie modifié avec succés !</div>
      </div>
</div>